.blog-card {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  background-color: $color-default-white;

  &--large {
    flex-direction: row;
  }

  picture {
    flex-shrink: 0;
  }

  @include viewport--sm {
    width: 100%;

    &--large {
      flex-direction: column;
    }
  }
}

.blog-card__cover {
  display: block;
  object-fit: cover;
  width: 350px;
  height: 204px;

  .blog-card--large & {
    height: 320px;
  }

  @include viewport--md {
    width: 266px;
  }

  @include viewport--sm {
    width: 100%;
  }
}

.blog-card__content {
  margin-top: auto;
  padding: 16px;
  padding-top: 14px;

  .blog-card--large & {
    margin-top: 0;
    padding: 32px;
  }

  @include viewport--md {
    .blog-card--large & {
      padding: 16px;
      padding-left: 20px;
    }
  }
}

.blog-card__title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 400;
  font-family: $font-family--lora;
  font-size: 22px;
  line-height: 1.27;
  color: $color-bunker;

  .blog-card--large & {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.28;
  }

  @include viewport--md {
    .blog-card--large & {
      font-size: 24px;
    }
  }
}

.blog-card__lead {
  .blog-card--large & {
    margin: 0;
    margin-bottom: 16px;
    color: $color-nobel;
  }
}

.blog-card__user {
  display: flex;
  align-items: flex-end;
}

.blog-card__user-avatar {
  display: block;
  width: 56px;
  height: 56px;
  margin-right: 24px;
  margin-bottom: 5px;
  border-radius: 50%;
}

.blog-card__user-name {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: $color-regal-blue;
}

.blog-card__user-position {
  margin: 0;
  color: $color-nobel;
}
