.btn {
  display: block;
  padding: 12px 24px;
  font-weight: 700;
  line-height: 1.25;
  color: $color-outrageous-orange;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition:
    color $default-transition-settings,
    background-color $default-transition-settings;

  &:hover,
  &:focus {
    color: $color-default-white;
    background-color: $color-regal-blue;
    box-shadow: 0 4px 16px rgba($color-regal-blue, 0.32);
  }

  &:active {
    color: $color-default-white;
    background-color: $color-harley-davidson-orange;
  }

  &--accent {
    color: $color-default-white;
    background-color: $color-outrageous-orange;
    box-shadow: 0 4px 16px rgba($color-outrageous-orange, 0.32);
  }

  &--spaces {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    color: $color-default-white;
    background-color: $color-outrageous-orange;

    &:hover,
    &:focus {
      color: $color-regal-blue;
      background-color: $color-white-smoke;
      box-shadow: none;
    }

    &:active {
      color: $color-default-white;
      background-color: $color-harley-davidson-orange;
    }

    span {
      display: block;
      margin-left: 33px;
      margin-right: 20px;
    }

    svg {
      display: block;
      width: 32px;
      height: 32px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.2220px;
    }
  }
}
