.features {
  margin-bottom: 112px;

  @include viewport--md {
    margin-bottom: 48px;
  }

  @include viewport--sm {
    margin-bottom: 36px;
  }
}

.features__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;

  @include viewport--lg {
    grid-template-columns: 3fr minmax(min-content, 2fr);
    gap: 20px;
  }

  @include viewport--md {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 64px 50px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    gap: 40px 30px;
  }

  @include viewport--md {
    grid-template-columns: repeat(3, 1fr);
    order: 2;
    max-width: 552px;
    margin: 0 auto;
  }

  @include viewport--sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
  }
}

.features__feature {
  display: flex;
  align-items: flex-start;

  svg {
    display: block;
    width: 32px;
    height: 32px;
    margin-top: 4px;
    margin-right: 24px;
  }

  @include viewport--md {
    svg {
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }
  }

  @include viewport--sm {
    svg {
      width: 16px;
      height: 16px;
      margin-right: 12px;
    }
  }
}

.features__feature-desc {
  margin: 0;

  span {
    display: block;
    margin-bottom: 8px;
    font-family: $font-family--lora;
    font-size: 32px;
    line-height: 1.28;
    color: $color-regal-blue;
  }

  @include viewport--md {
    span {
      font-size: 24px;
    }
  }

  @include viewport--sm {
    margin-left: -28px;
    font-size: 14px;

    span {
      margin-left: 28px;
      font-size: 20px;
    }
  }
}

.features__content {
  padding: 54px;
  color: $color-default-white;
  background-color: $color-regal-blue;

  @include viewport--lg {
    padding: 40px;
  }

  @include viewport--md {
    max-width: 552px;
    margin: 0 auto;
  }

  @include viewport--sm {
    padding: 24px;
  }
}

.features__title {
  position: relative;
  width: fit-content;
  margin: 0;
  margin-right: 88px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    left: calc(100% + 15px);
    width: 73px;
    height: 2px;
    background-color: $color-default-white
  }

  @include viewport--lg {
    font-size: 16px;
    line-height: 1.62;
  }
}

.features__slogan {
  margin: 0;
  margin-bottom: 24px;
  font-family: $font-family--lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.275;

  @include viewport--lg {
    font-size: 32px;
  }

  @include viewport--sm {
    font-size: 28px;
  }
}

.features__desc {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;

  @include viewport--lg {
    font-size: 16px;
    line-height: 1.62;
  }
}
