.footer {
  padding: 55px 0 100px;
  background-color: $color-blue-whale;

  @include viewport--md {
    padding: 24px 0 48px;
  }

  @include viewport--sm {
    padding: 24px 0;
  }
}

.footer__container {
  display: flex;

  @include viewport--lg {
    flex-direction: column;
  }
}

.footer__primary {
  margin-right: auto;

  @include viewport--lg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-right: 0;
  }

  @include viewport--sm {
    display: block;
    margin: 0;
    margin-bottom: 24px;
  }
}

.footer__logo {
  margin-bottom: 16px;

  @include viewport--lg {
    flex-shrink: 0;
    margin-bottom: 0;
  }

  @include viewport--sm {
    margin-bottom: 16px;
  }

  a {
    display: block;
    width: fit-content;
  }

  img {
    display: block;
    width: 177px;
    height: 54px;
  }
}

.footer__summary {
  width: 255px;
  margin: 0;
  margin-bottom: 24px;
  color: rgba($color-white-smoke, 0.85);

  @include viewport--lg {
    width: 500px;
    margin: 0 36px;
  }

  @include viewport--md {
    margin: 0 16px;
  }

  @include viewport--sm {
    width: 255px;
    margin: 0;
    margin-bottom: 24px;
  }
}

.footer__social {
  flex-shrink: 0;
}

.footer-lists {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  @include viewport--sm {
    display: block;
  }
}

.footer-list {
  margin-left: 68px;

  @include viewport--xl {
    margin-left: 55px;
  }

  @include viewport--lg {
    margin-left: 68px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  @include viewport--md {
    margin-left: 16px;
  }

  @include viewport--sm {
    margin-left: 0;
    margin-bottom: 24px;
  }
}

.footer-list__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: rgba($color-default-white, 0.5);

  @include viewport--sm {
    margin-bottom: 12px;
  }
}

.footer-list__list {
  margin: -4px;
  padding: 0;
  list-style: none;

  &--contacts {
    max-width: 220px;
  }
}

.footer-list__item {
  margin-bottom: 1px;

  .footer-list__list--contacts & {
    display: flex;

    span {
      display: block;
      padding: 4px;
    }
  }

  @include viewport--md {
    span {
      font-size: 14px;
    }
  }
}

.footer-list__link {
  display: block;
  padding: 4px;
  color: $color-default-white;

  &:hover,
  &:focus {
    color: $color-outrageous-orange;
  }

  &:active {
    color: $color-harley-davidson-orange;
  }

  @include viewport--md {
    font-size: 14px;
  }
}
