.gallery {
  position: relative;
  margin-bottom: 112px;

  @include viewport--md {
    margin-bottom: 48px;
  }

  @include viewport--sm {
    margin-bottom: 36px;
  }
}

.gallery__header {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 560px;
  padding-left: 60px;

  @include viewport--lg {
    width: 390px;
    padding-left: 40px;
  }

  @include viewport--sm {
    width: 260px;
    padding-left: 10px;
  }

  @include viewport--sm {
    position: static;
  }
}

.gallery__title {
  position: relative;
  width: fit-content;
  margin: 0;
  margin-right: 88px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: $color-bunker;

  &::after {
    position: absolute;
    content: "";
    top: 17px;
    left: calc(100% + 15px);
    width: 73px;
    height: 2px;
    background-color: $color-bunker;
  }
}

.gallery__desc {
  margin: 0;
  margin-bottom: 38px;
  font-family: $font-family--lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.275;
  color: $color-regal-blue;

  @include viewport--lg {
    margin-bottom: 24px;
    font-size: 28px;
  }

  @include viewport--md {
    margin-bottom: 16px;
    font-size: 20px;
  }

  @include viewport--sm {
    margin-bottom: 24px;
    font-size: 20px;
  }
}

.gallery__controls {
  @include viewport--md {
    display: none;
  }
}

.gallery__slider {
  max-width: 920px;
  margin: 0 auto;

  @include viewport--lg {
    max-width: 660px;
  }

  @include viewport--md {
    max-width: 464px;
  }

  @include viewport--sm {
    max-width: 260px;
  }
}

.gallery__slides {
  display: flex;
  align-items: flex-end;
  max-width: 920px;
  height: 606px;
  padding: 0;
  list-style: none;

  @include viewport--lg {
    height: 448px;
  }

  @include viewport--md {
    height: 303px;
  }

  @include viewport--sm {
    height: 125px;
  }
}

.gallery__slide {
  flex-shrink: 0;
}

.gallery__photo {
  display: block;
  width: 350px;
  height: 350px;
  object-fit: cover;
  transition:
    width $default-transition-settings,
    height $default-transition-settings;

  .swiper-slide-active & {
    width: 445px;
    height: 606px;
  }

  @include viewport--lg {
    width: 250px;
    height: 250px;

    .swiper-slide-active & {
      width: 320px;
      height: 448px;
    }
  }

  @include viewport--md {
    width: 175px;
    height: 175px;

    .swiper-slide-active & {
      width: 222px;
      height: 303px;
    }
  }

  @include viewport--sm {
    width: 125px;
    height: 125px;

    .swiper-slide-active & {
      width: 125px;
      height: 125px;
    }
  }
}
