.introducing {
  margin-bottom: 112px;

  @include viewport--md {
    margin-bottom: 48px;
  }

  @include viewport--sm {
    margin-bottom: 36px;
  }
}

.introducing__title {
  position: relative;
  width: fit-content;
  margin: 0;
  margin-right: 88px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  color: $color-bunker;

  &::after {
    position: absolute;
    content: "";
    top: 17px;
    left: calc(100% + 15px);
    width: 73px;
    height: 2px;
    background-color: $color-bunker;
  }
}

.introducing__lead {
  display: flex;
  margin-bottom: 33px;

  @include viewport--md {
    display: block;
  }
}

.introducing__lead-title {
  flex-shrink: 0;
  width: 670px;
  margin: 0;
  margin-right: 50px;
  font-family: $font-family--lora;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.2;
  color: $color-regal-blue;

  @include viewport--lg {
    width: 450px;
  }

  @include viewport--md {
    width: auto;
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 40px;
  }

  @include viewport--sm {
    font-size: 24px;
  }

  span {
    color: $color-harley-davidson-orange;
  }
}

.introducing__lead-content {
  flex-grow: 1;
  margin: 0;
  width: 380px;
  font-weight: 500;
  font-size: 20px;
  color: $color-dim-gray;

  @include viewport--md {
    width: auto;
  }

  @include viewport--sm {
    font-size: 16px;
  }
}

.introducing__slider {
  position: relative;
  margin: 0 auto;
  max-width: 1110px;
  overflow: hidden;
}

.introducing__slides {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.introducing__slide {
  flex-shrink: 0;

  img {
    display: block;
    width: 1110px;
    height: auto;
  }
}

.introducing__pagination {
  position: absolute;
  left: 50%;
  bottom: 37px;
  transform: translateX(-50%);
  display: flex;

  .swiper-pagination-bullet {
    width: 16px;
    height: 4px;
    margin: 0 2px;
    background-color: rgba($color-default-white, 0.5);
  }

  .swiper-pagination-bullet-active {
    width: 40px;
    background-color: $color-outrageous-orange;
  }
}
