.partners {
  margin-bottom: 112px;

  @include viewport--md {
    margin-bottom: 48px;
  }

  @include viewport--sm {
    margin-bottom: 36px;
  }
}

.partners__title {
  margin: 0;
  margin-bottom: 24px;
  font-family: $font-family--lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.275;
  text-align: center;
  color: $color-blue-whale;
}

.partners__desc {
  margin: 0;
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: $color-nobel;

  @include viewport--md {
    margin-bottom: 28px;
  }
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px -65px;
  padding: 0;
  list-style: none;

  @include viewport--xl {
    margin: -15px -30px;
  }

  @include viewport--md {
    margin: -15px;
  }

  @include viewport--sm {
    flex-direction: column;
    margin: -10px;
  }
}

.partners__partner {
  padding: 15px 30px;

  @include viewport--sm {
    padding: 10px 30px;
  }
}

.partners__link {
  display: block;
}
