.slider-controls {
  align-self: flex-end;
  flex-shrink: 0;
  display: flex;
  width: 230px;
  margin-left: 50px;
}

.slider-controls__btn {
  display: flex;
  height: 26px;
  outline: none;

  &--prev {
    margin-left: auto;
  }

  &--next {
    margin-left: 23px;
  }
}

.slider-controls__btn-arrow {
  position: relative;
  width: 50px;
  height: 4px;
  margin: auto 0;
  background-color: $color-nobel;
  border-radius: 2px;
  transition:
    width $default-transition-settings,
    background-color $default-transition-settings;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    width: 17px;
    height: 3px;
    background-color: $color-nobel;
    border-radius: 2px;
    transition: background-color $default-transition-settings;
  }

  .slider-controls__btn--prev & {
    margin-left: 3px;

    &::before {
      left: -2px;
      transform: translateY(-50%) rotate(50deg);
      transform-origin: 1px center;
    }

    &::after {
      left: -2px;
      transform: translateY(-50%) rotate(-50deg);
      transform-origin: 1px center;
    }
  }

  .slider-controls__btn--next & {
    margin-right: 3px;

    &::before {
      right: -2px;
      transform: translateY(-50%) rotate(-50deg);
      transform-origin: 16px center;
    }

    &::after {
      right: -2px;
      transform: translateY(-50%) rotate(50deg);
      transform-origin: 16px center;
    }
  }

  .slider-controls__btn:hover &,
  .slider-controls__btn:focus & {
    width: 89px;
    background-color: $color-outrageous-orange;

    &::before,
    &::after {
      background-color: $color-outrageous-orange;
    }
  }

  .slider-controls__btn:active & {
    width: 89px;
    background-color: $color-harley-davidson-orange;

    &::before,
    &::after {
      background-color: $color-harley-davidson-orange;
    }
  }

  .slider-controls__btn.swiper-button-disabled &,
  .slider-controls__btn.swiper-button-disabled:hover & {
    width: 50px;
    background-color: $color-gainsboro;

    &::before,
    &::after {
      background-color: $color-gainsboro;
    }
  }
}
