.social {
  display: flex;
  margin: -8px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: block;
  padding: 8px;
  color: $color-default-white;

  &:hover,
  &:focus {
    color: $color-outrageous-orange;
  }

  &:active {
    color: $color-harley-davidson-orange;
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
  }
}
