.spaces {
  margin-bottom: 112px;

  @include viewport--md {
    margin-bottom: 48px;
  }

  @include viewport--sm {
    margin-bottom: 36px;
  }
}

.spaces__header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 52px;
  max-width: 1110px;

  @include viewport--lg {
    max-width: 730px;
  }

  @include viewport--md {
    max-width: 552px;
    margin-bottom: 32px;
  }

  @include viewport--sm {
    margin-bottom: 16px;
  }
}

.spaces__lead {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;

  @include viewport--lg {
    flex-direction: column;
    align-items: flex-start;
  }
}

.spaces__title {
  margin: 0;
  margin-right: 32px;
  font-family: $font-family--lora;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.275;
  color: $color-regal-blue;

  @include viewport--lg {
    margin-right: 0;
    margin-bottom: 12px;
  }

  @include viewport--sm {
    margin: 0 auto 8px;
    font-size: 32px;
    text-align: center;
  }
}

.spaces__desc {
  width: 450px;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: $color-nobel;

  @include viewport--sm {
    width: 288px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
}

.spaces__controls {
  justify-content: flex-end;
  width: 230px;
  margin-left: 50px;

  @include viewport--md {
    display: none;
  }
}

.spaces__slider {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;

  @include viewport--xl {
    width: 1040px;
  }

  @include viewport--lg {
    width: 730px;
  }

  @include viewport--md {
    width: 552px;
  }

  @include viewport--sm {
    width: 288px;
  }
}

.spaces__slides {
  display: flex;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
  list-style: none;

  @include viewport--md {
    margin-bottom: 32px;
  }

  @include viewport--sm {
    margin-bottom: 16px;
  }
}

.slider-scrollbar {
  width: 160px;
  height: 4px;
  margin: 0 auto 7px;
  background-color: $color-gainsboro;

  @include viewport--lg {
    width: 240px;
  }

  @include viewport--sm {
    width: 288px;
  }

  .swiper-scrollbar-drag {
    height: 4px;
    background-color: $color-harley-davidson-orange;
  }
}

.slider-pagination {
  font-weight: 500;
  text-align: center;

  .swiper-pagination-current {
    font-size: 18px;
    line-height: 1.56;
    color: $color-bunker;
  }
}
