// Vendor
//---------------------------------

@import "vendor/normalize";
// @import "vendor/swiper";

// Global
//---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
//---------------------------------

@import "blocks/header";
@import "blocks/footer";
@import "blocks/main-nav";
@import "blocks/user-menu";
@import "blocks/btn";
@import "blocks/social";
@import "blocks/introducing";
@import "blocks/slider-controls";
@import "blocks/spaces";
@import "blocks/spaces-card";
@import "blocks/features";
@import "blocks/facilities";
@import "blocks/gallery";
@import "blocks/partners";
@import "blocks/reviews";
@import "blocks/faq";
@import "blocks/blog";
@import "blocks/blog-card";
