// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-dim-gray:                  #6a6a6a;
$color-nobel:                     #9a9a9a;
$color-gainsboro:                 #dfdfdf;
$color-white-smoke:               #f8f8f8;

$color-outrageous-orange:         #ff5722;
$color-harley-davidson-orange:    #dd2c00;

$color-bunker:                    #222831;
$color-blue-whale:                #0d2c4a;
$color-regal-blue:                #10375c;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--lato:                     "Lato", "Arial", sans-serif;
$font-family--lora:                     "Lora", "Times New Roman", serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      600px;
$viewport--lg:                      992px;
$viewport--xl:                      1200px;
$viewport--xxl:                     1440px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
