// Colors
//---------------------------------
// https://www.htmlcsscolor.com/hex/334482

// Default

$color-default-black:             #000000;
$color-default-white:             #ffffff;
$color-transparent:               rgba(255, 255, 255, 0);

// Base

$color-black:                     #0e0e0e;
$color-white:                     #f2f2f2;
$color-blue:                      #2c39f2;

$color-nobel:                     #9a9a9a;

$color-outrageous-orange:         #ff5722;
$color-harley-davidson-orange:    #dd2c00;

$color-bunker:                    #222831;
$color-regal-blue:                #10375c;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
//---------------------------------

$font-family--lato:                     "Lato", "Arial", sans-serif;

// Animation
//---------------------------------

$default-transition-settings:       0.3s ease;
$modal-transition-settings:         0.6s cubic-bezier(0.55, 0, 0.1, 1);

// Viewports
//---------------------------------

$viewport--sm:                      320px;
$viewport--md:                      600px;
$viewport--lg:                      992px;
$viewport--xl:                      1200px;
$viewport--xxl:                     1440px;

// Retina
//---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
