<header class="header @@if (context.mod) { header--@@mod }">
  <div class="container header__container">
    <div class="header__logo">
      <a @@if (!context.main) { href="main.html"}>
        <img src="img/svg/logo-header.svg" width="87" height="24" alt="Logotype Frispes">
      </a>
    </div>

    <nav class="main-nav">
      <button class="main-nav__toggle btn-reset" type="button">
        <svg width="20" height="20">
          <use xlink:href="#icon-burger"></use>
        </svg>
      </button>

      <ul class="main-nav__list">
        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Home</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Workspace</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Service</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Events</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Reviews</a>
        </li>

        <li class="main-nav__item">
          <a class="main-nav__link" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>

    <div class="user-menu">
      <ul class="user-menu__list">
        <li class="user-menu__item">
          <a class="btn btn" href="#">Log In</a>
        </li>

        <li class="user-menu__item">
          <a class="btn btn--accent" href="#">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</header>
